.video-player {
  padding: 2px;
}

.player-container {
  color: #555;
  height: 733px;
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 8px;
}
