.App {
  display: flex;
  flex-wrap: wrap;
}

.App main {
  display: flex;
}

.search-bar {
  width: 100%;
  background: red;
}

.video-player {
  width: 100%;
  border-right: 1px solid #ccc;
}

.video-list {
  max-width: 40%;
  background: #f0f0f0;
}
