.App {
  display: grid;
  grid-template-areas:
    "search-bar search-bar search-bar search-bar"
    "video-player video-player video-player video-list"
    "video-player video-player video-player video-list";
}

.search-bar {
  background: red;
  grid-area: search-bar;
}

.video-player {
  background: blue;
  grid-area: video-player;
}

.video-list {
  background: #f0f0f0;
  grid-area: video-list;
}
